[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u _service.py
WorkingDirectory=/home/pi/modemctrl/py/dedafx/modemctrl
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target