[Unit]
Description=Modem Rebooter
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/modemctrl/py/dedafx/modemctrl/_service.py
Type=idle

[Install]
WantedBy=multi-user.target